# Terraform files
*.tfstate
*.tfstate.*
*.tfplan
.terraform/
.terraform.lock.hcl

# Variables files with real values
terraform.tfvars

# Crash log files
crash.log
crash.*.log

# Override files as they are usually used to override resources locally
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc

# OS files
.DS_Store
Thumbs.db
